body{
    background-color: rgb(232, 202, 236);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.226);
    padding: 10px;
    border-radius: 16px;
    height: 29%;
    width: 12%;
}

#titulo{
    text-align: center;
}

.boxlog{
    text-align: center;
}

.notf{
    text-align: center;
}

.inputlog{
    width: 200px ;
    height: 40px ; 
}


.inputpass{
    width: 200px ;
    height: 40px ; 
}

.entrar{
    width: 200px ;
    height: 40px ;
}
